@{
    Layout = "_Layout";
}

<h2>Hakon</h2>

<section data-controller="graph">

</section>

<section data-controller="chat">
    <form class="chat-form">
        <textarea data-target="chat.output" disabled></textarea>
        <input data-target="chat.input" type="text"/>
        <input type="submit" data-target="chat.send" value="Send" data-action="click->chat#send submit=>chat#send">
    </form>
    
</section>