@{
    Layout = "_Layout";
}

<section class="graph" data-controller="graph">
    <canvas data-target="graph.canvas"></canvas>
</section>

<section class="chat" data-controller="chat">
    <form class="chat-form">
        <textarea data-target="chat.output" disabled></textarea>
        <input data-target="chat.input" type="text" placeholder="Say something to Hakon"/>
        <input type="submit" data-target="chat.send" value="Send" data-action="click->chat#send submit=>chat#send">
    </form>
    
</section>